.App {
  text-align: center;
}

.Content {
  min-height: 100%;
  position: relative;
}

.CardsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 400px;
  padding: 20px;
  margin: 20px auto;
  border: solid 1px #eee;
  box-shadow: 0px 2px 7px #333;
}

.Card img {
  padding: 20px 0px;
  display: block;
  margin: auto;
}

.Card input,
.Card button {
  display: block;
  width: 90%;
  margin: auto;
  font-size: 21px;
  text-align: center;
  padding: 4px 10px;
  border-radius: 6px;
  border: solid 1px #333;
}

.Card button {
  width: 60%;
  font-size: 19px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #2d3436;
  color: white;
  transition: 0.3s;
}

button:hover {
  background-color: #636e72;
}

.Card.done_yes {
  border-color: #44bd32;
  box-shadow: 0px 2px 7px #44bd32;
}

.Card.done_shown {
  border-color: #e17055;
  box-shadow: 0px 2px 7px #e17055;
}

.GithubMark:hover {
  opacity: 0.85;
}

.Restart {
  width: 25%;
  min-width: 250px;
  font-size: 21px;
  margin: 10px 0px;
  padding: 8px;
  border-radius: 6px;
  border: solid 1px #333;
  letter-spacing: 0.6px;
  cursor: pointer;
  background-color: #2d3436;
  color: white;
  transition: 0.3s;
}

@media (max-width: 1300px) {
  .CardsBox {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .Card {
    width: 90%;
  }

  .Card button {
    width: 80%;
  }
}
